# Telegram core
pyrogram==2.0.106
pytgcalls==3.0.0.dev24
tgcrypto

# Async / Networking
aiofiles
aiohttp
httpx==0.25.2
requests
dnspython

# Database / Scheduler
motor
apscheduler
psutil

# Media / Audio / Video
ffmpeg-python
yt-dlp
pillow==9.5.0
opencv-python
hachoir

# YouTube / Spotify
youtube-search-python
spotipy
unidecode
py-yt-search
# Utils
gitpython
python-dotenv
pyyaml==6.0.1
beautifulsoup4
speedtest-cli
heroku3